<div class="container device">
  <div class="device_frame">
    <p class="my-4">新しいアカウントを作成</p>
    <div class="device_inner">
      <%= form_with(model: @user, local: true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        
        <div class="field form-row">
          <div class="col-2 required-b pt-2"></div>
          <%= f.text_field :name, :placeholder => "ユーザー名" ,class: "form-control col-10 px-2" %>
        </div>
        <div class="field form-row">
          <div class="col-2 required-b pt-2"></div>
          <%= f.email_field :email, :placeholder => "メールアドレス" ,class: "form-control col-10 px-2" %>
        </div>
        <div class="field form-row">
          <div class="col-2 required-b pt-2"></div>
          <%= f.password_field :password, :placeholder => "パスワード" ,class: "form-control col-10 px-2" %>
        </div>
        <div class="field form-row">
          <div class="col-2 required-b pt-2"></div>
          <%= f.password_field :password_confirmation, :placeholder => "パスワード確認" ,class: "form-control col-10 px-2" %>
        </div>
        
        <%= f.submit "新しいアカウントを作成", class: "btn btn-primary" %>
      <% end %>
      <%= link_to "すでにアカウントをお持ちの方はログイン","/users/new",{class: "btn btn-secondary"} %>
    </div>
  </div>
</div>