<header class="header">
  <div class="header-inner">
    <div class="header-left-nav">
      
      <%= link_to root_path do %>
        <%= image_tag "logo.png" %>
      <% end %>
      
      <%= form_with url: posts_path , method: :get, local: true do |f| %>
        <div class="header-sharch d-lg-inline-block d-none">
          <%= f.text_field :search ,class: "form-control" , placeholder: "エリア"  %>
          <i class="fas fa-map-marker-alt"></i>
        </div>
        <div class="header-sharch d-lg-inline-block d-none">
          <%= f.text_field :search ,class: "form-control" ,placeholder: "キーワード" %>
          <i class="fas fa-search"></i>
        </div>
        <%= f.submit 'Search', :name => nil ,class: "d-none" %>
      <% end %>
      
    </div>
    <div class="header-right-nav">
      <div class="nav-item">
        <% if logged_in? %>
          <li class="dropdown">
            
            
            <%= current_user.name %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="mx-3 p-1 host-icon nav-trigger">
                <%= render 'layouts/icon' %>
              </span>
              <b class="caret"></b>
            </a>
            
            <ul class="dropdown-menu">
              <li><%= link_to "ルーム登録", new_post_path %></li>
              <li><%= link_to "予約済みルーム一覧", '/my_reservations' %></li> 
              <li><%= link_to "登録済みルーム一覧", posts_my_index_path %></li>
              <li><%= link_to "設定", current_user %></li>
              <li class="divider"></li> 
              <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <%= link_to "ログイン","/login",{class: "btn btn-primary my-2 mx-3"} %>
          <%= link_to "登録する","/users/new",{class: "btn btn-secondary"} %>
        <% end %>
      </div>
    </div>
  </div>
</header>